In [1]:
import pandas as pd

df = pd.read_csv(r"file_train.csv")


X = df.drop(['Nusselt Number'], axis=1)
y = df.drop(['Wavelength','Corrugation Amplitude','Reynolds Number'], axis = 1)

In [2]:
X = X.drop(['Unnamed: 0'], axis=1)
y = y.drop(['Unnamed: 0'], axis=1)

In [3]:
X.head()

   Corrugation Amplitude  Wavelength  Reynolds Number
0                    0.1         1.0             60.0
1                    0.1         1.0             70.0
2                    0.1         1.0             80.0
3                    0.1         1.0             90.0
4                    0.1         1.0            100.0

In [4]:
y.head()

   Nusselt Number
0          5.9064
1          6.2047
2          6.4913
3          6.7666
4          7.0308